matrix.CUSTOMDOMAIN {
  proxy /_matrix http://localhost:8008 {
    transparent
  }

  proxy /_synapse/client http://localhost:8008 {
    transparent
  }
}

CUSTOMDOMAIN:8448 {
  proxy / http://localhost:8008 {
    transparent
  }
}
